.fire-type{
    background-color: #FF9D55;
  }

  .normal-type{
    background-color:#929DA3 ;
  }

  .fighting-type{
    background-color: #CE416B;
  }

  .flying-type{
    background-color: #8FA9DE;
  }

  .poison-type{
    background-color: #AA6BC8;
  }

  .ground-type{
    background-color: #D97845;
  }

  .ground-type{
    background-color: #C5B78C;
  }

  .rock-type{
    background-color: #C5B78C;
  }

  .bug-type{
    background-color: #91C12F;
  }

  .ghost-type{
    background-color: #5269AD;
  }

  .steel-type{
    background-color: #5A8EA2;
  }

  .water-type{
    background-color: #5090D6;
  }

  .grass-type{
    background-color: #63BC5A;
  }

  .electric-type{
    background-color: #F4D23C;
  }

  .psychic-type{
    background-color: #FA7178;
  }

  .ice-type{
    background-color: #73CEC0;
  }

  .dragon-type{
    background-color: #0A6DC3;
  }

  .dark-type{
    background-color: #5A5465;
  }

  .fairy-type{
    background-color: #EC8FE6;
  }

  .physical-type{
    background-color: #EA541E;
  }

  